.tooltip.top .tooltip-arrow {
    border-top-color: red;
    top: 33px;
    opacity: 0.5;
}

.tooltip-inner {
    background-color: red;
    width: 185px;
    font-size: 15px;
    opacity: 0.5;
}

.fullEventClose {
    position: absolute;
	top: 7px;
	right:10px;
}

.toshowfirst, .toshow {
    padding: 0;
}

.fullInfo {
cursor: pointer;
}

.eventsScroll {
    overflow: auto;
}