.SheduleEventsLi {
	height: 20px;
	font-size: 12px;
	padding: 0;
	cursor: pointer;
}


.eventsAndDownload, .scheduleEvents, .download, .clone, .weekMode, .scroll, .conflict {
	float: left;
	width: 250px;
	margin: 10px;
}

.SheduleAndPager {
	float: left;
	width: 800px;
	padding-left: 5%;
}

.pager {
    margin: 0; 
    padding: 4px;
}

.table {
	margin-bottom: 0px
}

.table tr {
	height: auto;
	width: auto;
}

.cell {
	border: 1px solid #ddd !important;
	width: 120px;
	height: 30px;
	font-size: 12px;
	font-style: italic;
}

.calendarCell {
	border: 1px solid #ddd !important;
	width: 120px;
	height: 30px;
	font-size: 12px;
	font-style: italic;	

}

.conflictCell, .extendedConflictCell{
	border: 1px solid #ddd !important;
	background-color: #EBCBCB;
	font-size: 10px;
	font-style: italic;
	width: 100%;
	min-height: 20px;
}

.holidayCell {
	background-color: #CACAFF;
	font-size: 10px;
	font-style: italic;
	height: auto;
	width: 100%;
}


.Myschedule, .schedulePager {
	float: left;
	width: 800px;
	padding-left: 5%;
}

.calendarCellDiv {
	border: 1px solid #7A7A7A !important;
	background-color: #E7FCFE;
	width: 100%;
}

.table-bordered tr>td:first-child {
    width:20px;
}

.selectedCell {
	background-color: #E8E8FF;
}



.resourceSorting, .weeksNumber {
	width: 100px;
}

.preViewScroll {
    overflow: auto;
}
