.SheduleEventsLi {
	height: 20px;
	font-size: 12px;
	padding: 0;
	cursor: pointer;
}

.scheduleEvents {
	float: left;
	width: 25%;
	padding-top: 3%
}

.SheduleAndPager {
	float: left;
	width: 70%;
	padding-left: 5%;
}

.pager {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   
}

.table {
	margin-bottom: 0px
}

.calendarCell {
	border: 1px solid #ddd !important;
	width: 120px;
	height: 30px;
	font-size: 12px;
	font-style: italic;
}

.conflictCell{
	border: 1px solid #ddd !important;
	background-color: #f2dede;
	font-size: 10px;
	font-style: italic;
}

.Myschedule {
	float: left;
	width: 70%;
	padding-left: 5%;
}

.schedulePager {
	float: left;
	width: 70%;
	padding-left: 5%;
}

.calendarCellDiv {
	border: 1px solid #7A7A7A !important;
	background-color: #E7FCFE;
}

.table-bordered tr>td:first-child {
    width:20px;
}

