*{
	font-family: arial;

}

body{
	background-color:#FFFFFF;
	background-image:url('img/bg.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	margin:20px;
	font-size:12px;
	color:#296FA5;
}

table{
	background-color:transparent;
	border-collapse:collapse;
	border-color:#49A1C6;
	padding:0px;
	margin:0px;
}


td{	
	padding:5px;
	margin:0px;
}

.ccffcc{
color:#FFFFFF;
background-color: #70ADC9;

}


.ccffcc *{
	color:#FFFFFF;
}

.ccffcc a{
	color:#FFFFFF;
}

.ccffcc a:hover{
	text-decoration:underline;
	color:#FFFFFF;
}

.ffff80{
	background-color:#C6E7F4;

}

hr{
	background-color:#CCC;
	display:none;
}

.ffffcc{
font-weight:bold;
background: rgb(234,255,232); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhN2Q2YTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(234,255,232,1) 0%, rgba(167,214,162,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,255,232,1)), color-stop(100%,rgba(167,214,162,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(234,255,232,1) 0%,rgba(167,214,162,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(234,255,232,1) 0%,rgba(167,214,162,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(234,255,232,1) 0%,rgba(167,214,162,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(234,255,232,1) 0%,rgba(167,214,162,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaffe8', endColorstr='#a7d6a2',GradientType=0 ); /* IE6-8 */

}
.ffffcc a{
	text-decoration:none;
	font-size:11px;
}
.ffffcc a:hover{
	text-decoration:underline;
}