#schedule {
	margin-top: 15px;
	font-size: 12px;
}

#schedule table {
    border-spacing: 0;
    border-collapse: collapse;
}

#schedule table td.intervals {
	vertical-align: middle;
	text-align: center;
	width: 80px;
	padding: 4px;

}

#schedule table th  {
	padding: 0 4px;
	height: 40px;
	border: 1px solid #dfdfdf;
	background-color: #4579b9;	
	color: white;
	text-align: center;
	vertical-align: middle;
}

#schedule table td  {
	width: 150px;
	height: 30px;
	overflow: hidden;
	border: 1px solid #dfdfdf;

}

#schedule table td:not(:nth-child(1))  {
	cursor: pointer;

}


#schedule table div  {
	overflow: hidden;
}

#schedule table{
	overflow: hidden;
}

#schedule table tr  {
	overflow: hidden;
}

#schedule .weeks-controls  {
	padding: 8px 0;
}

.occupied {
	padding: 4px;
	margin: 1px 1px 1px 1px;
	width: inherit;
	height: auto;
	border-radius: 4px;
	background-color: #cef3e2;
}

#schedule table td div.conflict {
	width: inherit;
	height: auto;
	margin: 1px 1px 1px 1px;
	padding: 4px;
	opacity: 0.5;
	background-color: #ffdce9;
	color: #4e0000;
}

#schedule table td.dayoff {
	background-color: #fff3f3;
}


.green {
	background-color: #a5debd;	
}

.yellow {
	background-color: #e9ee98;
}

.blue {
	background-color: #abd6e1;
}

.purple {
	background-color: #c7bbd9;
}

#schedule table tr:hover td:nth-child(1) {
	background-color: #e8f0ff;
}

#schedule table td:hover {
	background-color: #e8f0ff;
}

